# This is Git's per-user configuration file.
[user]
	name = Michael Su
	email = mdasu1@gmail.com
# Please adapt and uncomment the following lines:
#	name = Michael Su
#	email = mdasu1@gmail.com
[http]
	postBuffer = 524288000
